extend _includes/_layout
append variables
  //- Required
  - var pageTitle= "タイトル";
  - var pageDescription= "ディスクリプション";
  - var pageKeywords= "キーワード";
  //- Optional
  - var pageOgpTitle= "OGPタイトル";
  //- - var pageOgpImage= site.ogpImage
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= "index.html";
  - var lang= "ja";

block content
  //- contents
  p TOPページ
  //- /contents
