// 参照133p

// フォント
// Ministopで使ってたもの
$FONT_FAMILY_GOTHIC: Arial, "游ゴシック","YuGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
$FONT_FAMILY: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "ＭＳ 明朝", serif;

// ブレイクポイント
$BREAK_POINT_PC_1500: 1500px;
$BREAK_POINT_PC: 1280px;
// コンテンツ幅
$CONTENT_WIDTH: 1200px;
// iPad MAX Width
$BREAK_POINT_TABLET: 1024px;
// iPhone6 MAX Width
$BREAK_POINT_SP_iPhone6: 667px;

// 色
$Bg_Black: #1c1c1c;
$Bg_Green: #123007;
$Bg_Off_White: #f6f6f6;
$Yellow: #c09100;
$Border_Grey: #bfbfbf;
$Txt_Red: #df3d2c;
